USE [master]
GO
/****** Object:  Database [Nutrition]    Script Date: 2022-11-07 7:47:24 PM ******/
CREATE DATABASE [Nutrition]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nutrition', FILENAME = N'E:\Database\MSSQL15.MSSQLSERVER\MSSQL\DATA\Nutrition.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Nutrition_log', FILENAME = N'E:\Database\MSSQL15.MSSQLSERVER\MSSQL\DATA\Nutrition_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nutrition].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nutrition]
GO
/****** Object:  Table [dbo].[DAILYNUTRITIONGOAL]    Script Date: 2022-11-07 7:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAILYNUTRITIONGOAL](
	[USERID] [int] NOT NULL,
	[CALORIE] [decimal](18, 1) NULL,
	[PROTEIN] [decimal](18, 1) NULL,
	[FAT] [decimal](18, 1) NULL,
	[CARB] [decimal](18, 1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXERCISE]    Script Date: 2022-11-07 7:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXERCISE](
	[DATETIME] [datetime] NOT NULL,
	[USERID] [int] NOT NULL,
	[EXERCISEID] [int] NOT NULL,
	[NAME] [varchar](256) NOT NULL,
	[DURATION] [decimal](18, 1) NULL,
	[CALORIE] [decimal](18, 1) NULL,
 CONSTRAINT [PK_EXERCISE] PRIMARY KEY CLUSTERED 
(
	[DATETIME] ASC,
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXERCISETYPES]    Script Date: 2022-11-07 7:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXERCISETYPES](
	[EXERCISEID] [int] NOT NULL,
	[EXERCISENAME] [varchar](256) NOT NULL,
	[CALPERHOUR] [decimal](18, 1) NULL,
	[DESCRIPTION] [varchar](256) NOT NULL,
 CONSTRAINT [PK_EXERCISETYPES] PRIMARY KEY CLUSTERED 
(
	[EXERCISEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 2022-11-07 7:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN](
	[LOGINID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](256) NOT NULL,
	[PASSWORDSALT] [varchar](256) NOT NULL,
	[PASSWORDHASH] [varchar](256) NOT NULL,
	[USER_ID] [int] NULL,
 CONSTRAINT [PK_LOGIN] PRIMARY KEY CLUSTERED 
(
	[LOGINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEAL]    Script Date: 2022-11-07 7:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEAL](
	[MEALNAME] [varchar](256) NOT NULL,
	[MEALDATETIME] [datetime] NOT NULL,
	[USERID] [int] NOT NULL,
	[CALORIE] [decimal](18, 1) NULL,
	[PROTEIN] [decimal](18, 1) NULL,
	[FAT] [decimal](18, 1) NULL,
	[CARB] [decimal](18, 1) NULL,
 CONSTRAINT [PK_MEAL] PRIMARY KEY CLUSTERED 
(
	[MEALNAME] ASC,
	[MEALDATETIME] ASC,
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEALITEM]    Script Date: 2022-11-07 7:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEALITEM](
	[MEALNAME] [varchar](256) NOT NULL,
	[MEALDATETIME] [datetime] NOT NULL,
	[USERID] [int] NOT NULL,
	[ITEMNAME] [varchar](256) NOT NULL,
	[CALORIE] [decimal](18, 1) NULL,
	[PROTEIN] [decimal](18, 1) NULL,
	[FAT] [decimal](18, 1) NULL,
	[CARB] [decimal](18, 1) NULL,
	[totalWeight] [decimal](18, 1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MEALNAME] ASC,
	[MEALDATETIME] ASC,
	[USERID] ASC,
	[ITEMNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 2022-11-07 7:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[USERID] [int] NOT NULL,
	[USERROLEID] [int] NOT NULL,
	[FIRSTNAME] [nvarchar](256) NOT NULL,
	[LASTNAME] [nvarchar](256) NOT NULL,
	[EMAILADDRESS] [varchar](256) NOT NULL,
	[PHONENUMBER] [char](256) NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERHEALTHINFO]    Script Date: 2022-11-07 7:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERHEALTHINFO](
	[USERID] [int] NOT NULL,
	[GENDER] [varchar](256) NOT NULL,
	[HEIGHT] [decimal](18, 1) NULL,
	[WEIGHT] [decimal](18, 1) NULL,
	[ACTIVENESS] [tinyint] NOT NULL,
	[AGE] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERROLE]    Script Date: 2022-11-07 7:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERROLE](
	[USERROLEID] [int] NOT NULL,
	[ROLENAME] [varchar](256) NOT NULL,
 CONSTRAINT [PK_USERROLE] PRIMARY KEY CLUSTERED 
(
	[USERROLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[EXERCISETYPES] ([EXERCISEID], [EXERCISENAME], [CALPERHOUR], [DESCRIPTION]) VALUES (1, N'WALK', CAST(256.0 AS Decimal(18, 1)), N'Move by advancing the feet alternately')
INSERT [dbo].[EXERCISETYPES] ([EXERCISEID], [EXERCISENAME], [CALPERHOUR], [DESCRIPTION]) VALUES (2, N'SKIPPING ROPE', CAST(562.0 AS Decimal(18, 1)), N'Basic jump rope consists of a rope held by one end in each hand, which is then rotated over the head and back to the feet. When it reaches its feet, it will be hop over and turn its back and head up again.')
INSERT [dbo].[EXERCISETYPES] ([EXERCISEID], [EXERCISENAME], [CALPERHOUR], [DESCRIPTION]) VALUES (3, N'ROWING', CAST(520.0 AS Decimal(18, 1)), N'Boat propulsion using fixed oars as leverage')
GO
INSERT [dbo].[USERROLE] ([USERROLEID], [ROLENAME]) VALUES (1, N'admin')
INSERT [dbo].[USERROLE] ([USERROLEID], [ROLENAME]) VALUES (2, N'user')
GO
/****** Object:  Index [HAS2_FK]    Script Date: 2022-11-07 7:47:25 PM ******/
CREATE NONCLUSTERED INDEX [HAS2_FK] ON [dbo].[DAILYNUTRITIONGOAL]
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [DO_FK]    Script Date: 2022-11-07 7:47:25 PM ******/
CREATE NONCLUSTERED INDEX [DO_FK] ON [dbo].[EXERCISE]
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IS_FK]    Script Date: 2022-11-07 7:47:25 PM ******/
CREATE NONCLUSTERED INDEX [IS_FK] ON [dbo].[EXERCISE]
(
	[EXERCISEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [EAT_FK]    Script Date: 2022-11-07 7:47:25 PM ******/
CREATE NONCLUSTERED INDEX [EAT_FK] ON [dbo].[MEAL]
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [HAS_ROLE_FK]    Script Date: 2022-11-07 7:47:25 PM ******/
CREATE NONCLUSTERED INDEX [HAS_ROLE_FK] ON [dbo].[USER]
(
	[USERROLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ABOUT2_FK]    Script Date: 2022-11-07 7:47:25 PM ******/
CREATE NONCLUSTERED INDEX [ABOUT2_FK] ON [dbo].[USERHEALTHINFO]
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DAILYNUTRITIONGOAL]  WITH CHECK ADD  CONSTRAINT [FK_DAILYNUT_HAS2_USER] FOREIGN KEY([USERID])
REFERENCES [dbo].[USER] ([USERID])
GO
ALTER TABLE [dbo].[DAILYNUTRITIONGOAL] CHECK CONSTRAINT [FK_DAILYNUT_HAS2_USER]
GO
ALTER TABLE [dbo].[EXERCISE]  WITH CHECK ADD  CONSTRAINT [FK_EXERCISE_DO_USER] FOREIGN KEY([USERID])
REFERENCES [dbo].[USER] ([USERID])
GO
ALTER TABLE [dbo].[EXERCISE] CHECK CONSTRAINT [FK_EXERCISE_DO_USER]
GO
ALTER TABLE [dbo].[EXERCISE]  WITH CHECK ADD  CONSTRAINT [FK_EXERCISE_IS_EXERCISE] FOREIGN KEY([EXERCISEID])
REFERENCES [dbo].[EXERCISETYPES] ([EXERCISEID])
GO
ALTER TABLE [dbo].[EXERCISE] CHECK CONSTRAINT [FK_EXERCISE_IS_EXERCISE]
GO
ALTER TABLE [dbo].[MEAL]  WITH CHECK ADD  CONSTRAINT [FK_MEAL_EAT_USER] FOREIGN KEY([USERID])
REFERENCES [dbo].[USER] ([USERID])
GO
ALTER TABLE [dbo].[MEAL] CHECK CONSTRAINT [FK_MEAL_EAT_USER]
GO
ALTER TABLE [dbo].[MEALITEM]  WITH CHECK ADD  CONSTRAINT [FK_MEALITEM_CONTAINS_MEAL] FOREIGN KEY([MEALNAME], [MEALDATETIME], [USERID])
REFERENCES [dbo].[MEAL] ([MEALNAME], [MEALDATETIME], [USERID])
GO
ALTER TABLE [dbo].[MEALITEM] CHECK CONSTRAINT [FK_MEALITEM_CONTAINS_MEAL]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_HAS_ROLE_USERROLE] FOREIGN KEY([USERROLEID])
REFERENCES [dbo].[USERROLE] ([USERROLEID])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_HAS_ROLE_USERROLE]
GO
ALTER TABLE [dbo].[USERHEALTHINFO]  WITH CHECK ADD  CONSTRAINT [FK_USERHEAL_ABOUT2_USER] FOREIGN KEY([USERID])
REFERENCES [dbo].[USER] ([USERID])
GO
ALTER TABLE [dbo].[USERHEALTHINFO] CHECK CONSTRAINT [FK_USERHEAL_ABOUT2_USER]
GO
USE [master]
GO
