@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
	box-sizing: border-box;
}

body{
    background-color: #faebd7;
    overflow-x: hidden;
    margin:0;
    z-index: 0;
}

header{
    height: 80px;
    margin-bottom: 20px;
    background-color: rgb(206, 235, 182);
    position: relative;
}

.exercise-search{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.search-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: .25rem;
}
.search-wrapper label{
    font-size: 2rem;
}
input{
    font-size: 1rem;
    padding: 5px;
}

.input{
    position: relative;
    background-color: black;
}
.input input{
    width: 400px;
    height: 30px;
}
.input i{
    font-size: 1rem;
    position: absolute;
    right: 0;
    padding: 10px;
    min-width: 40px;
    cursor: pointer;
}

.search-results{
    margin: 1rem 1rem;
    border:1px dashed rgb(77, 35, 35);
    min-width:400px;
    max-width: 600px;
    min-height: 80vh;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    gap: 20px;
    background-color: aliceblue;
}
.result{
    position:relative;
    width: 100%;
    min-width: 320px;
    background-color: #ffa600;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    gap: 10px;
    cursor: pointer;
}
.result header{
    background-color: rgb(213, 219, 251);
    width: 100%;
    height: auto;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result .icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:24px;
    background-color: #faebd7;
    background-size: 100%;
    margin: 2px;
}
.result .description{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 10px;
}
.result .exercise-name{
    font-size: 1.5rem;
    font-weight:bolder;
    border-bottom: 1px black dotted;
}
.result .exercise-description{
    font-style: oblique;
}
.result .energy-expenditure{
    font-size:18px;
    color: yellow;
    font-style: italic;
}

.exercise-search .food{
    width: 100%;
    border:1px black solid;
    padding: 10px;
    height:130px;
    background-color: white;
    cursor: pointer;
    line-height: 1.2rem;
}


/*  */
.add-exercise{
    position: absolute;
    width: 60px;
    height: 60px;
    top:calc(20px / 2);
    right: 40px;
    z-index: 50;

    
}
.add-exercise button{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url('../image/running.png') no-repeat ;
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    background-size: 100%;
}
.add-exercise button:active{
    transform: scale(0.98);
}


.create-exercise{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}
.create-exercise .overlay{
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 80;
    background-color: #fff;
    position: fixed;
}
.create-exercise #exerciseForm{
    max-width: 800px;
    height: auto;
    background-color: rgba(255,255,255,1);
    
    z-index: 101;
    border: 3px solid black;
    border-radius: 5px;
    min-width: 320px;
    padding: 5px;

}
.create-exercise #nameForm input[type='submit']{
    border-radius: 20px;
    cursor: pointer;
    border: 0;
}
.create-exercise form fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    text-align: center;
}
.create-exercise form legend{
    font-weight: bold;
    font-size: x-large;
    border: 0;
    text-align: center;

}
.create-exercise .description{
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
.create-exercise .description .exercise-name{
    font-size: 24px;
}
.create-exercise .energy-expenditure{
    color: yellow;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 2px;
}
.create-exercise .duration input{
    max-width: 90px;
    max-height: 60px;
    text-align: center;
}


.create-exercise span{
    display: inline-block;
    margin-right: 10px;
}

.create-exercise #submit{
    border: 0;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 24px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-image: linear-gradient(to right,green,yellow);
    cursor: pointer;
}

.create-exercise #submit.disabled{
    background-color:red;
    pointer-events:none;
    cursor: not-allowed;
}
#exerciseForm p{
    font-size:0.8em;
    color:red;
    font-style: italic;
}

@media only screen and (max-width: 600px){
    .input input{
        width: 85vw;
    }
}