.footer {
    background-color: rgba(80,120,40,255);
    padding:0px 0px 20px 0px;
    border: none;
}

.footer-icon a i{
    margin-top: 5px;
    font-size: 25px;
}

.footer-left {
    padding-left: 150px;
    text-align: left;
}

.footer-right {
    padding-top: 50px;
    text-align: right;
}


.footer-least{
    text-align: left;
    color: gainsboro;
}

.footer-left a{
    color: white;
}

.footer-right a{
    color: white;
}

.footer-left h3{
color: white;
}


