/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Oct 17, 2022, 11:48:05 AM
    Author     : ACER
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    
}
