@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
#stats-table{
    max-width: 100vw;
}
.buttons{
    z-index: 100;
    position:absolute;
    display:flex;
    width: auto;
    height: auto;
    gap:10px;
    left: 10%;
    top:100px;
}

.buttons button{
    width: 80px;
    height: 50px;
    border: none;
    cursor:pointer;
    font-size: 20px;
    border-radius: 100px;
}

.buttons button:first-child{
    background-color: rgb(241, 150, 30);
    color:aquamarine;
}
.buttons button:last-child{
    color:antiquewhite;
    background-color: rgb(9, 100, 69);
}
.buttons button:active, .buttons button:focus{
    outline: none;
}

.buttons button:active{
    transform: scale(0.98);
}
.buttons button.active{
    color:red;
}

.info-table{
    display:none;
}
.info-table.active{
    display:block;
}
.info-chart{
    display:none;
}
.info-chart.active{
    display:block;
}
thead{
    background-color:antiquewhite;
}
tfoot{
    background:gold;
}
td.failure{
    color:white;
    background-color:#e95a3a;
}
td.successful{
    color:white;
    background-color:green;
}
td{
    text-align:center;
}
tr.group td{
    font-weight:bolder;
    font-size:1.2em;
    text-align:left;
}

.plus{
    position:relative;  
    z-index:1;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: aliceblue;
}
.plus::before {
  z-index:-1;
  content: "+";
  color:#66e266;
  height:100%;
  width:100%;
  font-size:4em;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  font-weight:bold;
  font-family:courier;
  position:absolute;
  top:0;
  left:0;
}
.minus{
    position:relative;  
    z-index:1;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: aliceblue;
}
.minus::before {
  z-index:-1;
  content: "-";
  color: rgb(241, 131, 106);
  height:100%;
  width:100%;
  font-size:5em;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  font-weight:bold;
  font-family:courier;
  position:absolute;
  top:0;
  left:0;
}

th{
    font-family:Lato;
}


#stats-table th{
  text-align:center;
}