@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.today-numbers{
    position: fixed;
    top: 100px;
    right: 50px;
    max-height: 500px;
    max-width: 200px;
    font-family: 'Roboto Condensed';
}
.cal-eaten{
    max-width: 100px;
    max-height: 80px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: yellow;
    color: red;
    border-radius: 15px 15px 10px 10px;
}
.all-numbers{
    background-color:white;
    margin-top: 10px;
    position:fixed;
    right:-200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right .3s ease-in;
    text-align: left;
    border: 1px black dashed;
    padding: 0;
}
.goals::before{
    content: 'Goals';
}
.consumed::before{
    content: 'Eaten';
}
.burned::before{
    content: 'Exercise';
}
.remaining::before{
    content: 'Remaining';
}
.all-numbers>div{
    width: 100%;
}
.all-numbers>div>div{
    padding: 1px 5px;
}
.all-numbers div::before{
    font-style: italic;
    background-color: gold;
    display: block;
    text-align: center;
    margin: 0;
}
.all-numbers.active{
    right:50px;
}