.admin-info-txt{
    text-align: left;
}

.table_title_txt{
    margin-top: 40px;
    background-color: #83B82E !important;
}

.nav-link-admin-info{
    background-color: #83B82E !important;
}
 
.nav-link-user-info{
    background-color: #83B82E !important;
}

.nav-link-em{
    background-color: #83B82E !important;
}

.navbar-brand{
    background-color: #83B82E !important;
}

.bl-btn{
    margin: 16px 0;
    text-align: right;
}

.btn-add {
    background-color: black !important;
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: white;
   }
   
   .btn-add::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #83B82E;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .btn-add:hover::before {
    width: 105%;
   }
   
   .btn-add:hover {
    color: white;
   }
   