<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>webappName</param-name>
        <param-value>CICO Health</param-value>
    </context-param>
    <filter>
        <filter-name>RouterFilter</filter-name>
        <filter-class>Filter.RouterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RouterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/Error404.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>Control.Login.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HealthInfoControl</servlet-name>
        <servlet-class>Control.HealthInfoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterControl</servlet-name>
        <servlet-class>Control.Login.RegisterControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>Control.Login.LogoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>Control.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateMealControl</servlet-name>
        <servlet-class>Control.Meal.CreateMealControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExerciseControl</servlet-name>
        <servlet-class>Control.Exercise.AddExerciseControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/Login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>HealthInfo</servlet-name>
        <jsp-file>/HealthInfo.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <jsp-file>/RegisterAccount.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/MainMenu.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>Admin</servlet-name>
        <jsp-file>/ADMIN.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>AdminInfo</servlet-name>
        <jsp-file>/AdminInfo.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>AdminUserInfo</servlet-name>
        <jsp-file>/AdminUserInfo.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>AdminExercise</servlet-name>
        <jsp-file>/AdminExercise.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>AdminAddExercise</servlet-name>
        <jsp-file>/Update/AdminAddExercise.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>AdminUpdateExercise</servlet-name>
        <jsp-file>/Update/AdminUpdateExercise.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>AdminUpdateAdmin</servlet-name>
        <jsp-file>/Update/AdminUpdateAdmin.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>AdminUpdateUser</servlet-name>
        <jsp-file>/Update/AdminUpdateUser.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>UserExercise</servlet-name>
        <jsp-file>/UserProfile/UserExercise.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>UserGoal</servlet-name>
        <jsp-file>/UserProfile/UserGoal.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>UserHealthInfo</servlet-name>
        <jsp-file>/UserProfile/UserHealthInfo.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>FoodSearch</servlet-name>
        <jsp-file>/FoodSearch.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ExerciseSearch</servlet-name>
        <jsp-file>/ExerciseSearch.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UserExercises</servlet-name>
        <jsp-file>/UserExercises.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginError</servlet-name>
        <jsp-file>/login-error.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>RegisterError</servlet-name>
        <jsp-file>/Register-Error.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EditExerciseControl</servlet-name>
        <servlet-class>Control.Exercise.EditExerciseControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteExerciseControl</servlet-name>
        <servlet-class>Control.Exercise.DeleteExerciseControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserMeals</servlet-name>
        <jsp-file>/UserMeals.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EditMealControl</servlet-name>
        <servlet-class>Control.Meal.EditMealControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMealControl</servlet-name>
        <servlet-class>Control.Meal.DeleteMealControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfo</servlet-name>
        <jsp-file>/UserInfo.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginEditControl</servlet-name>
        <servlet-class>Control.Login.LoginEditControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserInfoControl</servlet-name>
        <servlet-class>Control.EditUserInfoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditHealthInfo</servlet-name>
        <servlet-class>Control.HealthInfo.EditHealthInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Statistics</servlet-name>
        <jsp-file>/Statistics.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EditGoalControl</servlet-name>
        <servlet-class>Control.HealthInfo.EditGoalControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminControl</servlet-name>
        <servlet-class>Control.Admin.AdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoadControl</servlet-name>
        <servlet-class>Control.Admin.AdminLoadControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserControl</servlet-name>
        <servlet-class>Control.Admin.DeleteUserControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserExerciseID</servlet-name>
        <servlet-class>Control.Admin.GetUserExerciseID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoadControl</servlet-name>
        <servlet-class>Control.Admin.UserLoadControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminExerciseType</servlet-name>
        <servlet-class>Control.Admin.AdminExerciseType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteExerciseType</servlet-name>
        <servlet-class>Control.Admin.DeleteExerciseType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateExerciseType</servlet-name>
        <servlet-class>Control.Admin.UpdateExerciseType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExerciseType</servlet-name>
        <servlet-class>Control.Admin.AddExerciseType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateControl</servlet-name>
        <servlet-class>Control.Admin.UpdateControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TermConditions</servlet-name>
        <jsp-file>/TermConditions.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UnitConversion</servlet-name>
        <jsp-file>/Utilities/UnitConversion.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Timer</servlet-name>
        <jsp-file>/Utilities/Timer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/login-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HealthInfoControl</servlet-name>
        <url-pattern>/healthinfo-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterControl</servlet-name>
        <url-pattern>/register-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/logout-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/home-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateMealControl</servlet-name>
        <url-pattern>/create-meal-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExerciseControl</servlet-name>
        <url-pattern>/add-exercise-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HealthInfo</servlet-name>
        <url-pattern>/healthinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AdminInfo</servlet-name>
        <url-pattern>/admin-info</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AdminUserInfo</servlet-name>
        <url-pattern>/adminuser-info</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AdminExercise</servlet-name>
        <url-pattern>/adminexercise-info</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AdminAddExercise</servlet-name>
        <url-pattern>/adminadd-exercise</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AdminUpdateExercise</servlet-name>
        <url-pattern>/adminupdate-exercise</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AdminUpdateAdmin</servlet-name>
        <url-pattern>/adminupdate-admin</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AdminUpdateUser</servlet-name>
        <url-pattern>/adminupdate-user</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>UserExercise</servlet-name>
        <url-pattern>/user-exercise</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>UserGoal</servlet-name>
        <url-pattern>/user-goal</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>UserHealthInfo</servlet-name>
        <url-pattern>/user-healthinfo</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>LoginError</servlet-name>
        <url-pattern>/login-error-control</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>RegisterError</servlet-name>
        <url-pattern>/register-error-control</url-pattern>
    </servlet-mapping>
 
    <servlet-mapping>
        <servlet-name>FoodSearch</servlet-name>
        <url-pattern>/search-food</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExerciseSearch</servlet-name>
        <url-pattern>/search-exercise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserExercises</servlet-name>
        <url-pattern>/user-exercises</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditExerciseControl</servlet-name>
        <url-pattern>/edit-exercise-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteExerciseControl</servlet-name>
        <url-pattern>/delete-exercise-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserMeals</servlet-name>
        <url-pattern>/user-meals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMealControl</servlet-name>
        <url-pattern>/edit-meal-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMealControl</servlet-name>
        <url-pattern>/delete-meal-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfo</servlet-name>
        <url-pattern>/user-info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginEditControl</servlet-name>
        <url-pattern>/login-edit-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserInfoControl</servlet-name>
        <url-pattern>/edit-user-info-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditHealthInfo</servlet-name>
        <url-pattern>/edit-health-info-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Statistics</servlet-name>
        <url-pattern>/user-statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditGoalControl</servlet-name>
        <url-pattern>/edit-goal-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminControl</servlet-name>
        <url-pattern>/admin-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoadControl</servlet-name>
        <url-pattern>/admin-load-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserControl</servlet-name>
        <url-pattern>/delete-user-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserExerciseID</servlet-name>
        <url-pattern>/getuser-exerciseid-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoadControl</servlet-name>
        <url-pattern>/user-load-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminExerciseType</servlet-name>
        <url-pattern>/admin-exercisetype-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteExerciseType</servlet-name>
        <url-pattern>/delete-exercisetype-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateExerciseType</servlet-name>
        <url-pattern>/update-exercisetype-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExerciseType</servlet-name>
        <url-pattern>/add-exercisetype-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateControl</servlet-name>
        <url-pattern>/update-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TermConditions</servlet-name>
        <url-pattern>/terms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnitConversion</servlet-name>
        <url-pattern>/utilities/convert-unit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Timer</servlet-name>
        <url-pattern>/utilities/timer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
