<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>Control.Login.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControl</servlet-name>
        <servlet-class>Control.SearchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HealthInfoControl</servlet-name>
        <servlet-class>Control.HealthInfoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterControl</servlet-name>
        <servlet-class>Control.Login.RegisterControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>Control.Login.LogoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>Control.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateMealControl</servlet-name>
        <servlet-class>Control.Meal.CreateMealControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExerciseControl</servlet-name>
        <servlet-class>Control.Exercise.AddExerciseControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/Login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>HealthInfo</servlet-name>
        <jsp-file>/HealthInfo.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <jsp-file>/RegisterAccount.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/MainMenu.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>FoodSearch</servlet-name>
        <jsp-file>/FoodSearch.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ExerciseSearch</servlet-name>
        <jsp-file>/ExerciseSearch.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UserExercises</servlet-name>
        <jsp-file>/UserExercises.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EditExerciseControl</servlet-name>
        <servlet-class>Control.Exercise.EditExerciseControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteExerciseControl</servlet-name>
        <servlet-class>Control.Exercise.DeleteExerciseControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserMeals</servlet-name>
        <jsp-file>/UserMeals.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EditMealControl</servlet-name>
        <servlet-class>Control.Meal.EditMealControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMealControl</servlet-name>
        <servlet-class>Control.Meal.DeleteMealControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfo</servlet-name>
        <jsp-file>/UserInfo.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginEditControl</servlet-name>
        <servlet-class>Control.Login.LoginEditControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserInfoControl</servlet-name>
        <servlet-class>Control.EditUserInfoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditHealthInfo</servlet-name>
        <servlet-class>Control.HealthInfo.EditHealthInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditGoalControl</servlet-name>
        <servlet-class>Control.HealthInfo.EditGoalControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/login-control</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>DeleteControl</servlet-name>
        <url-pattern>/delete-control</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>SearchControl</servlet-name>
        <url-pattern>/search-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HealthInfoControl</servlet-name>
        <url-pattern>/healthinfo-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterControl</servlet-name>
        <url-pattern>/register-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/logout-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/home-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateMealControl</servlet-name>
        <url-pattern>/create-meal-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExerciseControl</servlet-name>
        <url-pattern>/add-exercise-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HealthInfo</servlet-name>
        <url-pattern>/healthinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FoodSearch</servlet-name>
        <url-pattern>/search-food</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExerciseSearch</servlet-name>
        <url-pattern>/search-exercise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserExercises</servlet-name>
        <url-pattern>/user-exercises</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditExerciseControl</servlet-name>
        <url-pattern>/edit-exercise-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteExerciseControl</servlet-name>
        <url-pattern>/delete-exercise-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserMeals</servlet-name>
        <url-pattern>/user-meals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMealControl</servlet-name>
        <url-pattern>/edit-meal-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMealControl</servlet-name>
        <url-pattern>/delete-meal-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfo</servlet-name>
        <url-pattern>/user-info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginEditControl</servlet-name>
        <url-pattern>/login-edit-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserInfoControl</servlet-name>
        <url-pattern>/edit-user-info-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditHealthInfo</servlet-name>
        <url-pattern>/edit-health-info-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditGoalControl</servlet-name>
        <url-pattern>/edit-goal-control</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
